<%= render :partial => "users/shared/links" %>

<%= simple_form_for(resource, 
    as: resource_name,
    url: confirmation_path(resource_name),
    html: { method: :post, class: 'form-horizontal' }
  ) do |f| %>
  
  <%= devise_error_messages! %>

  <div class="inputs">
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
  </div>
<% end %>
