<%= form_for @contact_form, :url => {:action => 'contact'}, :method => 'post' do |f| %>
  <%= error_messages_for(@contact_form) %>

  <div style="display:none;">
    <%= f.text_field :nickname %>
  </div>

  <p>
    <%= f.label :name, 'Your name' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email, 'Your email' %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <i>can be attached optionally</i>
  </p>

  <p>
    <%= f.label :message %>
    <%= f.text_area :message, :rows => 10 %>
  </p>

  <p><%= f.submit 'Send', :class => 'btn-primary' %></p>

<% end %>
