<div id="slidesWrapper">
  <div id="slides">
    <%= image_tag 'marketing/1.png' %>
    <%= image_tag 'marketing/2.png' %>
    <%= image_tag 'marketing/3.png' %>
    <%= image_tag 'marketing/4.png' %>
    <%= image_tag 'marketing/5.png' %>
  </div>
</div>

<script type="text/javascript">
  $("#slides").slides({
    navigation: false,
    responsive: true,
    slide: {
      interval: 500
    },
    preload: {
      active: true
    },
    playInterval: 8000,
    pauseInterval: 16000
  }).slides('play');
</script>