<div id="footer">
  <div class="container">
    <hr>
    
    <p class="pull-right">
      <%= switch_user_select %>
    </p>
    
    <% semantic_navigation :footer_nav, html: { class: 'nav nav-pills' } do |n| %>
      <%= n.item "Terms & Conditions", link: page_path('terms') %>
      <%= n.item "Privacy Policy", link: page_path('privacy') %>
      <%= n.item "Contact", link: page_path('contact') %>
      <%= n.item "About", link: page_path('about') %>
      <%= n.item "&copy; #{Time.now.year} EntryDNS Team", link: page_path('team') %>
    <% end %>
  </div>
</div>

<%= render 'shared/analytics' %>
