<div class="block home-page-block article">
  <div class="content">
    <h1>Totally Free DNS service for everyone <small>created by Geeks</small></h1>
    <div class="inner home-page-inner">

      <table class="home-page-duo">
        <tr>
          <td class="home-page-text">
            <%= render :partial => 'pages/home/headlines' %>
            <br />
            <%= render :partial => 'pages/fragments/action' %>
          </td>
          <td class="home-page-images">
            <%= render :partial => 'pages/home/slides' %>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

<table class="home-page-duo">
  <tr>
    <td>
      <blockquote>
        "I use EntryDNS to showcase work to my clients directly from my computer.
        I set up my domain some time ago and it's working great ever since!" <br />
        <strong>Nicolae Claudius, Web Developer</strong>      
      </blockquote>
    </td>
    <td>
      <blockquote>
        "I use EntryDNS because it's trustworthy and I like the fast, snappy interface! 
        And I can also interface it via the API to automate most of the tasks!" <br />
        <strong>Vaidas Jablonskis, DevOps</strong>
      </blockquote>
    </td>
  </tr>
</table>

<div class="block">
  <div class="content">
    <div class="inner home-page-second">

      <table class="home-page-duo">
        <tr>
          <td class="home-page-text">
            <h2>Benefits</h2>
            <%= render 'pages/fragments/benefits' %>
            <br /><br />
            <%= render :partial => 'pages/fragments/action' %>
          </td>
          <td class="home-page-images">
            <h2>Features</h2>
            <%= render 'pages/fragments/features' %>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
