<div class="page-home-section page-home-header">
  <div class="container">
    <div class="page-header">

      <h1>
        Free DNS management service for everyone 
        <small>created by Geeks</small>
        <span class="pull-right">
          <%= link_to 'Tweet', "https://twitter.com/share", :class => "twitter-share-button", :data => {
            :url => root_url,
            :text => "EntryDNS a nice free DNS service",
            :count => "horizontal",
            :via => "entrydns",
            :related => "_clyfe:vaijab"
          } %>
        </span>
      </h1>

    </div>
  </div>
</div>

<div class="page-home-section page-home-incentives">
  <div class="container">
    <div class="row">

      <div class="span5">
        <%= render 'pages/home/headlines' %>
        <%= render 'pages/shared/action' %>
      </div>
      <div class="span7">
        <%= render 'pages/home/slides' %>
      </div>

    </div>
  </div>
</div>

<div class="page-home-section page-home-quotes">
  <div class="container">
    <div class="row">

      <div class="span6">
        <blockquote>We are two geeks who built a free DNS service to fill a void in this space.The service is free 
          and we hope to support it on either a freemium model or some sort of affiliate sales.</blockquote>
      </div>
      <div class="span6">
        <blockquote>Note that we just started it, and there are still things to be done, it's still a work in progress.
          Nevertheless the service is at this point functional and there are people already using it.</blockquote>
      </div>

    </div>
  </div>
</div>

<div class="page-home-section page-home-extra">
  <div class="container">
    <div class="row">

      <div class="span6">
        <h3>Benefits</h3>
        <%= render 'pages/shared/benefits' %>
        <%= render 'pages/shared/action' %>
      </div>
      <div class="span6">
        <h3>Features</h3>
        <%= render 'pages/shared/features' %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
