<div class="page-header">
  <h1>Sign in</h1>
</div>

<%= simple_form_for(resource,
    as: resource_name,
    url: session_path(resource_name),
    html: { class: 'form-horizontal' }
  ) do |f| %>
  
  <div class="actions">
    <%= f.input :email %>
    <%= f.input :password %>
    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, as: :boolean %>
    <% end -%>
  </div>
  
  <div class="form-actions">
    <%= f.submit "Sign in", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
