<% semantic_navigation :application_nav, html: { class: 'nav navbar-nav' } do |n| %>
  <%= n.item '', link: domains_path do %>
    <i class="glyphicon glyphicon-th-list"></i> My Domains
  <% end %>
  <%= n.item '', link: hosts_path do %>
    <i class="glyphicon glyphicon-th"></i> Dynamic Hosts
  <% end %>
  <%= n.item '', link: page_path('help') do %>
    <i class="glyphicon glyphicon-question-sign"></i> Help & Support
  <% end %>
<% end %>

<% semantic_navigation :user_nav, html: { class: 'nav navbar-nav navbar-right' } do |n| %>
  <%= n.item '', link: Settings.news_link, 
    html: { rel: 'tooltip', data: { placement: 'bottom' }, title: Settings.news_link } do %>
    <i class="glyphicon glyphicon-share-alt"></i> News
  <% end %>
  <%= n.item '', link: page_path('donate'),
    html: { rel: 'tooltip', title: 'PayPal', data: { placement: 'bottom' }, class: 'highlight' } do %>
    <i class="glyphicon glyphicon-heart"></i> Donate
  <% end %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i> <%= current_user.email %> <b class="caret"></b>
      </a>
      <%= n.group do %>
        <%= n.item '', link: edit_user_registration_path, html: { rel: 'tooltip', title: "IP: #{client_remote_ip}" } do %>
          <i class="glyphicon-cog"></i> Settings
        <% end %>
        <%= n.item '', link: destroy_user_session_path do %>
          <i class="glyphicon-off"></i> Sign out
        <% end %>
      <% end %>
    </li>
<% end %>
