<div class="footer">
  <div class="block">
    <p class="pull-right">
      <a href="#">Back to top</a>
    </p>
    <p class="pjax-nav">
      <%= link_to('Terms & Conditions', page_path('terms'), :data => {:pjax => '#main'}) %> &bull;
      <%= link_to('Privacy Policy', page_path('privacy'), :data => {:pjax => '#main'}) %> &bull;
      <%= link_to('Contact', page_path('contact'), :data => {:pjax => '#main'}) %> &bull;
      <%= link_to('About', page_path('about'), :data => {:pjax => '#main'}) %> &bull;
      <%= link_to("&copy; #{Time.now.year} EntryDNS Team".html_safe, page_path('team'), :data => {:pjax => '#main'}) %>
      <%= switch_user_select %>
    </p>
  </div>      
</div>

<%= render :partial => 'fragments/analytics' %>
