<div id="header">
  <div class="header-inner">
    <h1><a href="/">EntryDNS</a></h1>
    <div id="main-navigation">
      <ul class="wat-cf">
        <% if user_signed_in? %>
          <li><%#= link_to('Dashboard', dashboard_path, :data => {:pjax => '#main'}) %></li>
          <li><%= link_to 'Manage Domains', domains_path, :data => {:pjax => '#main'} %></li>
        <% else %>
          <li><%= link_to('Home', root_path, :data => {:pjax => '#main'}) %></li>
          <li><%= link_to('About', page_path('about'), :data => {:pjax => '#main'}) %></li>
          <li><%= link_to('Team', page_path('team'), :data => {:pjax => '#main'}) %></li>
        <% end %>
        <li><%= link_to('Help & Support', page_path('help'), :data => {:pjax => '#main'}) %></li>
      </ul>
    </div>
    <div id="user-navigation">
      <ul class="wat-cf">
        <% if user_signed_in? %>
          <li><%= link_to(current_user.email, edit_user_registration_path, :title => "IP: #{client_remote_ip}", :data => {:pjax => '#main'}) %></li>
          <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Sign up', new_user_registration_path, :data => {:pjax => '#main'}) %></li>
          <li><%= link_to('Sign in', new_user_session_path, :data => {:pjax => '#main'}) %></li>
        <% end %>
      </ul>
    </div>
    <div id="main-navigation">
      <ul class="wat-cf"></ul>
    </div>
  </div>
</div>
