<%= render :partial => "users/shared/links" %>

<div class="row">
  <div class="col-lg-offset-4 col-lg-4 well">

    <%= simple_form_for(resource, 
        as: resource_name,
        url: password_path(resource_name),
        method: :post
      ) do |f| %>

      <%= devise_error_messages! %>

      <%= f.input :email, required: true %>

      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>