<!DOCTYPE html>
<html>
  <head>
    <title>Simple DNS</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="container">
      <%= render :partial => 'fragments/top' %>
      <div id="wrapper" class="wat-cf">
        <%= flash_display 'flash' %>
        <div id="main" style="width: 100%;">
          <div class="block">
            <div class="secondary-navigation">
              <ul class="wat-cf">
                <li><a href="#">&nbsp;</a></li>
              </ul>
            </div>
            <div class="content">
              <div class="inner" data-pjax-container="true">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render :partial => 'fragments/bottom' %>
    </div>

  </body>
</html>
