<%= render 'shared/public_top' %>

  <body class="public">
    <%= render 'shared/navigation' %>

    <div id="main">
      <div data-pjax-container="true">
        <%= flash_display 'flash' %>
        <%= yield %>
      </div>
    </div>
    
    <div class="container">
      <%= render 'shared/bottom' %>
    </div>
  </body>
</html>
