<%= render 'shared/public_top' %>

  <body class="public">
    <%= render 'shared/navigation' %>

    <div data-pjax-container="true" id="main">
      <%= flash_display 'flash' %>
      <%= yield %>
    </div>
    <div class="container">
      <%= render 'shared/bottom' %>
    </div>

  </body>
</html>
