<%= render 'shared/public_top' %>

  <body class="public with-home-section">
    <%= render 'shared/navigation' %>

    <div class="animated fast fadeInDown" id="main">
      <%= flash_display 'flash' %>
      <%= yield %>
    </div>
    
    <div class="container">
      <%= render 'shared/bottom' %>
    </div>
  </body>
</html>