<!DOCTYPE html>
<html>
  <head>
    <title>Simple DNS</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="container">
      <%= render :partial => 'fragments/top' %>
      <div id="wrapper" class="wat-cf">
        <%= flash_display 'flash' %>
        <div id="main" style="width: 100%;" data-pjax-container="true">
          <%= yield %>
        </div>
      </div>
      <%= render :partial => 'fragments/bottom' %>
    </div>

  </body>
</html>
