<div class="page-header">
  <h1>Settings</h1>
</div>

<div class="row">
  <div class="col-lg-5">
    <%= simple_form_for(resource,
        as: resource_name,
        url: registration_path(resource_name), 
        method: :put,
        html: { autocomplete: 'off' }
      ) do |f| %>
      <%= devise_error_messages! %>

          <%= f.input :full_name, required: true %>
          <%= f.input :email, required: true %>
          <label class="password optional">Password</label>
          <small>leave blank if you don't want to change it</small>
          <%= f.input :password, label: false %>
          <label class="password optional">
            <abbr title="required">*</abbr> Current password
          </label>
          <small>we need your current password to confirm your changes</small>
          <%= f.input :current_password, label: false, required: true %>

      <%= f.submit "Update", class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-lg-offset-1 col-lg-6">
    <br class="hidden-lg">
    <% if current_user.authentications.exists? %>
      <%= render active_scaffold: "users/authentications" %>
      <br><br>
    <% end %>
    <div class="alert alert-warning text-center">
      <h4>Delete account</h4>
      <p>
        <strong>Danger zone!</strong>
        If you delete your account all your data will be deleted!
      </p>
      <p>
        <%= link_to "Delete my account!", registration_path(resource_name),
          class: 'btn btn-danger',
          confirm: "All your data will be deleted! Are you sure?", 
          method: :delete
        %>
      </p>
    </div>
  </div>
</div>
